<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container" style="padding:0px;color:#e8ffff;">
       <!--<button class="btn btn-success" >Developer</button>
        <button class="btn btn-success" >Github</button>
        <button class="btn btn-success" >Twitter</button>
        <button class="btn btn-success" >Linkedin</button> -->
 
<div class="jumbotron" style="background-color: #a6f6f1;color:#41aea9;width:100%">
<h1> Hello There!</h1>
<hr>
<p class="description">
    I am Mr. NodeJoke. I like to crack jokes. I was created using Node.js and Express. I have a few jokes about unemployed people, but none of them work.
    <BR><B>Try Yourself!</B>
</p><hr>
<a href="https://josharsh.github.io/Josharsh"><button class="btn btn-primary" style="background-color:#213e3b; border-color: #e8ffff;"> Developer</button>
</a>
<a href="https://linkedin.com/in/josharsh"><button class="btn btn-primary" style="background-color: #213e3b; border-color: #e8ffff;"> Connect</button>
</a>
<a href="https://github.com/"><button class="btn btn-primary" style="background-color: #213e3b; border-color: #e8ffff;"> Contribute</button>
</a>
</div>

    <!--style="display: flex;
flex-direction: column;
align-items: center;
justify-content: center;"-->
<div class="row" style="justify-content: center">
        <div style="margin:2px">
                <div class="card" style="width: 18rem; height: 15rem">
                        <Center><h4 style="color:#28a745">Just Joke</h4></Center>
                        <div class="card-body">
                                <p><%=normaljoke%></p>
                                    <form action="/normaljoke">
                                        <button type="submit" class="btn btn-primary" style="background-color: #28a745; border-color: white;"> Give me Another!</button>
                                    </form>
                        </div>
                </div>
        </div>

                <div style="margin:2px">
                        <div class="card" style="width: 18rem; height: 15rem">
                                <Center><h4 style="color:#28a745">Knoc-Knock Joke</h4></Center>
                                <div class="card-body">
                                        <p><%=kkjoke%></p>
                                            <form action="/kjoke">
                                                <button type="submit" class="btn btn-primary" style="background-color: #28a745; border-color: white;"> Give me Another!</button>
                                            </form>
                                </div>
                        </div>
                </div>
        
<div style="margin:2px">
        <div class="card" style="width: 18rem; height: 15rem">
                <Center><h4 style="color:#28a745">Developer Joke</h4></Center>
                <div class="card-body">
                        <p><%=devjoke%></p>
                            <form action="/devjoke">
                                <button type="submit" class="btn btn-primary" style="background-color: #28a745; border-color: white;"> Give me Another!</button>
                            </form>
                </div>
        </div>
</div>


</div>

      

<div>
   
</body>
</html>
